body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color:white;
  min-width: 1024px;
}

.name_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10%;
  font-size: 14pt;
  color:orange;
}
.presentation {
  margin: 0 auto;
  margin: 10px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.photo {  
  margin: 10px;
}
.my_photo img{
  width: 300px;
  border: 2px solid orange;
}
.btn_download {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  border: 2px solid orange;
  margin-top: 10px;
  font-weight: bold;
}

.btn_download:hover {
  background-color: orange;
  color: black;
}

.header_info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: white;
}
.first_name {
  font-size: 32pt;
  font-weight: normal;
}
.first_name span {
  color: orange;
}
.position {
  font-size: 28pt;
  font-weight: normal;
  color:gray;
}
.option_connection {
  font-size: 18pt;
  font-weight: normal;
  color:orange;
}
.contacts_links {
  font-size: 15pt;
  color:white;
}
.about_me {
  display: flex;
  flex-direction: column;
}
.profile {
  display: flex;
  margin: 0 15%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14pt;
}
.profile a {
  color: orange;
}
.create-line {
  width: 850px;
  border-top: 2px solid orange;
}
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10%;
  font-size: 14pt;
}
.technologys {
  display: flex;
  flex-direction: row;
}
.techo {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  font-size: 18pt;
  border: 2px solid orange;
  border-radius: 33%;
  text-align: center;
}
.techo_web {
}
.techo_lang {
}
.techo_git {
}
.techo_sql {
}
.techo_dev_ops {
}
.education {
 display: flex;
 flex-direction: row-reverse;
 justify-content: center;
 align-items: center;
 margin: 0 10%;
 font-size: 14pt;
}
.unversity {
 padding: 10px;
}
.school_21 {
  padding: 10px;
}
.date {
  color: orange;
}
.projects {
  display: flex;
  flex-direction: row;
  margin: 0 10%;
}
.preview {
  max-width: 100%;
}
.project {
  border: 1px solid orange;
  margin: 20px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 14pt;
}
.name_project {
  margin: 0 auto;
  font-size: 20pt;
}
.discription {
  font-size: 14pt;
}
.discription img {
  width: 60px;
}
.technology {
  font-size: 14pt;
  color: orange;
}


a:hover {
  color: orange;
}
.profile a:hover {
 text-decoration: underline;
}

@media screen and (min-width: 960px) {
  
}