body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color:white;
  min-width: 1024px;

}
.presentation {
  margin: 0 auto;
  margin: 10px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.photo {  
  margin: 10px;
}
.my_photo img{
  width: 300px;
  border: 2px solid orange;
}
.btn_download {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  border: 2px solid orange;
  margin-top: 10px;
  font-weight: bold;
}

.btn_download:hover {
  background-color: orange;
  color: black;
}

.header_info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: white;
}
.first_name {
  font-size: 32pt;
  font-weight: normal;
}
.first_name span {
  color: orange;
}
.position {
  font-size: 28pt;
  font-weight: normal;
  color:gray;
}
.contacts {
}
.option_connection {
  font-size: 18pt;
  font-weight: normal;
  color:orange;
}
.contacts_links {
  font-size: 15pt;
  color:white;
}
.about_me {
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  margin: 0 15%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14pt;
}
.profile a {
  color: orange;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10%;
}
.techo {
  display: flex;
  flex-direction: row;
}
.techo_web {
}
.techo_lang {
}
.techo_git {
}
.techo_sql {
}
.techo_dev_ops {
}
.education {
 
}
.projects {
  display: flex;
  flex-direction: row;
}
.preview {
  max-width: 100%;
}
.project {
  border: 1px solid orange;
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.name_project {

}
.discription {
}
.technology {
}

a:hover {
  color: orange;
}
.profile a:hover {
 text-decoration: underline;
}